.header {
  border-bottom: 1px solid $greyColor;
  width: 100%;
  .container {
    padding: 20px 0;
    display: flex;
    align-items: center;

    @include maxSmall {
      flex-direction: column;
    }
    .logo {
      position: relative;
      padding: 0 20px;
      @include maxMobile {
        width: 100%;
        text-align: left;
      }
      @include minSmall {
        width: 100%;
        text-align: center;
      }
      @include minMedium {
        width: 30%;
      }
      h1 {
        margin-bottom: 0;
      }
    }
    .navbar {
      width: 70%;
      @include maxSmall {
        width: 100%;
      }
      @include maxMobile {
        border-radius: 0;
        flex-direction: column;
      }
      background-color: $redColor;
      border-radius: 15px;
      display: flex;
      li {
        width: 20%;
        @include maxMobile {
          width: 100%;
        }
        font-size: 18px;
        text-align: center;
        a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 20px 10px;
          transition: 0.3s;
          &:hover {
            color: #ddd;
          }
        }
      }
      &.hidden {
        @include maxMobile {
          display: none;
        }
      }
    }
  }
}
